<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>물 따라 이야기 따라</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<meta property="og:url" content="https://sbmap.co.kr" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="성북구" />
	<meta property="og:description" content="성북천을 따라 흘러가는 문학 이야기." />
	<meta property="og:image" content="https://sbmap.co.kr/img/ograph/ograph.jpg" />

  	<link rel="apple-touch-icon" sizes="180x180" href="img/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favico/favicon_32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favico/favicon_16.png?v=2">

    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css" />
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css"  />
	<link rel="stylesheet" href="css/slick.css" />
	<link rel="stylesheet" href="css/styles.css?v=2.5" />

</head>
<body>

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '189065528650428',
	      xfbml      : true,
	      version    : 'v3.2'
	    });
	    FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>


	<div id="map"></div>
	<div class="map_status">LOREM IPSUM</div>

	<div class="ui_map">

		<div class="map_title"><img src="img/title.svg"></div>

		<div class="ui_map_bottom">
			<div class="btn_base ui_map_btn btn_opencam">
				<img src="img/icn/icn_camera.svg">
				<label><img src="img/text_camera.svg"></label>
			</div>
			<div class="btn_base ui_map_btn btn_listview">
				<img src="img/icn/icn_list.svg">
				<label><img src="img/text_list.svg"></label>
			</div>
			<div class="btn_base ui_map_btn btn_update_loc">
				<img src="img/icn/icn_updatelocation.svg">
			</div>
		</div>
	</div>
	<!--/.ui_map-->



	<div class="ui_intro">

		<div class="marquee hide"">
			그 남자네 집<br>
			그 산이 정말 거기 있었을까<br>
			그 많던 싱아를 누가 다 먹었을까<br>
			노인<br>
			닮은 방들<br>
			우리 동네<br>
			어떤 야만<br>
			그 집<br>
			돈암동 거리<br>
			원색생물학습도감<br>
			화두<br>
			길<br>
			모래알 고금<br>
			애인<br>
			지연기<br>
			성북구 성북동<br>
			쌍무지개 뜨는 언덕<br>
			혈거부족
		</div>

		<div class="all_font_loader">
			<div class="font1">가나 abc</div>
			<div class="font2">가나 abc</div>
			<div class="font3">가나 abc</div>
			<div class="font4">가나 abc</div>
			<div class="font5">가나 abc</div>
			<div class="font6">가나 abc</div>
		</div>


		<div class="ui_intro_bg"></div>

		<div class="map_title"><img src="img/title.svg"></div>

		<div class="line_north intro_line"></div>
		<div class="line_east intro_line"></div>

		<div class="intro_blue_circ"></div>

		<div class="intro_circ_wrap">
			<div class="intro_dir dir_n">N</div>
			<div class="intro_dir dir_s">S</div>
			<div class="intro_dir dir_e">E</div>
			<div class="intro_dir dir_w">W</div>


			<div class="intro_loading intro_circ">
				<span>
					<img src="img/ripple-1s-50px.gif">
					<div class="loading_text">로딩 중..</div>
				</span>
			</div>
			<div class="intro_where intro_circ">
				<span>당신은 지금<br>어디에 있습니까?</span>
				<div class="location_check">
					<img src="img/icn/icn_updatelocation.svg">
					내 위치 확인
				</div>
			</div>
			<div class="intro_check intro_circ">
				<span>지역을 확인 중입니다..</span>
			</div>
			<div class="intro_success intro_circ">
				<span>당신의 위치를 찾았습니다</span>
				<div class="btn_start">
					<img src="img/icn/icn_arrow_right.svg">
					시작
				</div>
			</div>
			<div class="intro_fail intro_circ">
				<span>당신의 위치를 확인할 수 없습니다</span>
				<div class="btn_start">
					<img src="img/icn/icn_arrow_right.svg">
					시작
				</div>
			</div>
		</div>
	</div> 
	<!--/.ui_intro-->

	<div class="ui_list">
		<img class="bg_list" src="img/bg_detail.png">

		<ul class="list_content"></ul>

		<div class="btn_close close_list"><img src="img/icn/icn_close.svg"></div>

		<div class="list_buttons">
			<li data-type="place" class="list_places active">장소별 보기</li>
			<li data-type="author" class="list_authors">작가별 보기</li>
			<li data-type="work" class="list_works">작품별 보기</li>
		</div>
	</div>
	<!--/.ui_list-->


	<div class="ui_detail">

		<div class="detail_menu">
			<li class="detail_menu_list"><img src="img/icn/icn_list_blue.svg"></li>
			<li class="detail_menu_title"><img src="img/title.svg"></li>
			<li class="close_detail"><img src="img/icn/icn_close.svg"></li>
		</div>

		<!-- 		
		<div class="detail_header_wrap">
			<div class="detail_header">
				상세 타이틀
			</div>
			<div class="toggle_tts">
				TTS
			</div>
		</div> 
		-->

		<div class="detail_bottom_ui hide_share">
			<div class="dbu_box detail_share">
				<span class="share_share"><img src="img/icn/icn_share.svg"></span>
				<span class="share_close"><img src="img/icn/icn_close.svg"></span>
			</div>
			<div class="dbu_box detail_tts tts_nowoff">
				<span class="tts_turnon"><img src="img/icn/icn_tts_turnon.svg"></span>
				<span class="tts_turnoff"><img src="img/icn/icn_tts_turnoff.svg"></span>
			</div>

			<div class="share_services">
				<div class="dbu_box single_share share_fb"><img src="img/icn/icn_fb.svg"></div>
				<div class="dbu_box single_share share_kakao" id="share_kakao"><img src="img/icn/icn_kt.svg"></div>
			</div>
		</div>

		<div id="meta_wrap">
			<div class="meta_title meta_single">
				타이틀
			</div>
			<div class="meta_title_sticky meta_single">
				타이틀
			</div>

			<div class="meta_subtitle_wrap">
				<div class="meta_subtitle1 meta_subtitle meta_single">
				</div>
				<div class="meta_subtitle2 meta_subtitle meta_single">
					서울특별시 마포구 서교동 215-1
				</div>
			</div>

			<div class="meta_image meta_single">
				<ul class="slider_wrap">
					<li><img src="img/test_img.jpg"></li>
				</ul>
			</div>
			<div class="meta_desc meta_single">
				<span>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies vel elit eu lobortis. Etiam at dui ac libero tincidunt pharetra sit amet ut metus. In tristique quam id nulla ornare faucibus. Duis purus dui, porttitor ac vulputate id, tincidunt nec magna. Vivamus vitae rutrum dui. Duis semper dictum nulla eget semper. Pellentesque augue leo, pulvinar nec sapien lacinia, blandit tempus ante. Sed orci ligula, hendrerit sit amet nibh nec, rutrum dignissim velit. Aenean laoreet molestie augue quis tincidunt.
				</span>
				<div class="expand_desc"><img class="expand_arrow" src="img/icn/icn_arrow_down.svg"> 작품설명 더보기</div>
				<div class="gradient_desc"></div>
			</div>
			<div class="meta_chapters meta_single">
				<div class="ribbon"><img src="img/ribbon.svg"></div>
			</div>
			<div class="meta_rel_doc meta_single">
				<span>
				</span>
			</div>
			<div class="meta_allworks meta_single">
				<ul></ul>
			</div>
			<div class="meta_related meta_single">
				<ul></ul>
			</div>

		</div>
		<!--/#meta_wrap-->


	</div>
	<!--/.ui_detail-->


	<div class="no_camera">
		<span>
			CAMERA FUNCTION IS NOT AVAILABLE AS YOU HAVE NOT ALLOWED THIS BROWSER TO ACCESS YOUR DEVICE'S CAMERA FUNCTION.
		</span>
	</div>
	<!--/.no_camera-->



	<div class="cam_component">

		<div class="ui_cam">
			<video id="cam_feed" class="filter_sepia" playsinline autoplay></video>
			<div class="noise_overlay"></div>
			<canvas id="snapshot_canvas"></canvas>
			<img class="snapshot_store" src="">

			<div class="ratio_guide">
				<img src="img/ratio_overlay.png">
				<img class="cam_title" src="img/title.svg">
				<div class="location_date">18-11-11</div>
				<div class="location_text">이 산줄기를 타고, 허연 신작로가 널따랗게 커브를 그리며 돌아간 산지 일대의 구멍들 속에 그들은 살고 있었다.</div>
				<div class="location_name"><닮은 방들> 중</div>
				<div class="cam_blackbar"></div>
			</div>
				
		</div>
		<!--/.ui_cam-->

		<div class="ui_share">
			<div class="share_img">
				<canvas id="d_canvas" style="border:1px solid #ccc"></canvas>
			</div>
			<div class="share_text">
				나의 성북구의 추억이 저장되었습나다<br>
				주변 사람들과 추억을 나누어보세요.
			</div>

			<div class="share_modal">
				<div class="modal_bg"></div>
				<div class="wrap_modal">
					<div class="btn_close close_share"><img src="img/icn/icn_close.svg"></div>
					<span>아래의 주소를 복사하여 공유하세요</span>
					<pre></pre>
					<div class="copy_url" data-clipboard-target=".wrap_modal pre">복사</div>
				</div>
			</div>
		</div>
		<!--/.ui_share-->


		<div class="camera_buttons">
			<div class="cam_close"><img src="img/icn/icn_close.svg"></div>
			<div id="cam_capture" class="cam_live"><img src="img/icn/icn_camera_white.svg"></div>
			<div class="cam_filter"><img src="img/icn/icn_filter.svg"></div>
			<div class="cam_share"><img src="img/icn/icn_share.svg"></div>
		</div>

	</div>
	<!--/.cam_component-->




	<div class="ui_nolandscape">
		<span>
			<img src="img/icn/icn_orientation.svg">
			THIS WEBSITE DOESNT SUPPORT LANDSCAPE.<br>PLEASE CHANGE YOUR DEVICE ORIENTATION<br>TO PORTRAIT.
		</span>
	</div>

	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.0/mapbox-gl-language.js"></script>
	<script src="js/fabric.min.js"></script>
	<script src="js/DetectRTC.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/clipboard.min.js"></script>
	<script src="js/responsivevoice.min.js"></script>
	<script src="js/jquery.marquee.min.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	
	<!-- <script src="js/data.js"></script> -->
	<script src="js/scripts.js?v=3.1"></script>

</body>
</html>